.statistics{
    
 text-align: center;
 display: block;
 align-items: center;
}

.title{
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: 700px;
}

.statlist {
list-style: none;
   display: inline-flex;
   margin: 0 ;
   padding: 0;
 align-items: center;
   
}

.item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.label{
    font-weight: 600;
}